/*external css*/

#about-button {
	background-color: indianred;

}

div > .img-size {
	margin-top: 80px;
	width: 300px;
	height: auto;
	
}

/*div > p {
	width: 50%;
}
*/

/*div > h3 , h3 ~ p{
	text-align: center;
}*/